{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block meta %}
<meta property="og:type" content="website">
{% endblock meta %}

{% block content %}
<ul class="tags-list">
<h2>All Tags</h2>
    {% for tag in terms | sort(attribute="pages") | reverse %}
    <li> 
        <h4 class="title">
            <a href="{{ tag.permalink }}">
                <span>{{ tag.name }}</span>
                <span class="page-metadata">
                    {{ tag.pages | length }}
                </span>
            </a>
        </h4>
    </li>
{% endfor %}
</ul>
{% endblock content %}
