{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block meta %}
<meta property="og:type" content="article">
{% endblock meta %}

{% block content %}
<h1 class="title">
  {{ page.title }}
</h1>
{{ macros::post_metadata(page=page) }}
{{ page.content | safe }}


<noscript>
    This is where the comments would load if you enabled JavaScript.
</noscript>
<script src="https://utteranc.es/client.js"
        repo="livexia/ghost.livexia.xyz"
        issue-term="pathname"
        theme="github-light"
        crossorigin="anonymous"
        async>
</script>

{% endblock content %}

{% block toc %}
{% if page.toc %}
<nav class="toc">
    <h4>目录</h4>
    <ul>
        {% for h1 in page.toc %}
        <li>
            <a href="{{ h1.permalink }}">{{ h1.title }}</a>
            {% if h1.children %}
            <ul>
                {% for h2 in h1.children %}
                    <li>
                        <a href="{{ h2.permalink }}">{{ h2.title }}</a>
                    </li>
                {% endfor %}
            </ul>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</nav>
{% endif %}
{% endblock %}
